<div class="container">
  <div class="limit-width">
    <form class="form-signin" action="/auth/signup" method="POST">

      <h2 class="form-signin-heading">
        Please create an account
      </h2>

      <label for="inputEmail" class="sr-only">
        Email address
      </label>
      <input id="authEmail" class="form-control" type="email" name="email" placeholder="email address" required autofocus>

      <label for="authName" class="sr-only">
        Name
      </label>
      <input id="authName" class="form-control" type="text" name="name" placeholder="name" required>

      <label for="inputPassword" class="sr-only">
        Password
      </label>
      <input id="authPassword" class="form-control" type="password" name="password" placeholder="password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>
</div>
